* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console', Monaco, monospace;
}

html, body {
    min-height: 100%;
}

h1{
        font-size: 2em;
        margin-top: 1%;
        color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #d3a4f5 30%, #a7f4d8 70%);
    color: #333;
}

.container {
    width: 95%;
    max-width: 90%;
    background: linear-gradient(135deg, #e0ecfc, #cbf0e1);
    border-radius: 10px;
    padding: 20px;
    margin: 5% auto;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ranking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ranking-header h1 {
    font-size: 2em;
    color: #333;
    margin: 5px 0 1px;
    text-align: center;
}

.ranking-header .up-arrow {
    color: green;
    font-weight: bold;
}

.ranking-header .down-arrow {
    color: red;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 1em;
}

th {
    background-color: #b3cde0;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f3f8fa;
}

@media (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 20px;
    background-color: #b8a9dc;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.back-button:hover {
    background-color: #6f97b3;
}