<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <header>
        <h1>HELP SYSTEM</h1>
    </header>
    <div class="container">
        <button class="ask-button">FAZER UMA PERGUNTA!</button>
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar">
            <span class="search-icon">🔍</span>
        </div>
        <div class="questions-list">
            <div class="question-box">
                <p>Qual é a diferença entre front-end e back-end?</p>
                <span class="info">Enviado por:  </span>
            </div>
            <div class="question-box">
                <p>O que são APIs e como funcionam?</p>
                <span class="info">Enviado por:  </span>
            </div>
            <div class="question-box">
                <p>Qual é o ciclo de vida de desenvolvimento de software?</p>
                <span class="info">Enviado por:  </span>
            </div>
            <div class="question-box">
                <p>Quais são as práticas recomendadas para escrever um código limpo?</p>
                <span class="info">Enviado por:  </span>
            </div>
        </div>
    </div>
</body>
</html>
