<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="icon" type="image/png" href="static/img/favicon.png">
  </head>
  <body>
    <form method="POST" action="{{ url_for('main.index') }}"></form>
    <div class="search-container">
      <input type="text" placeholder="Pesquisar" id="pesquisa", name="pesquisa" />
      <button class="search-button">🔍</button>
    </div>
    </form>
    <div class="user-info">
      <img
        src="{{ url_for('static', filename='img/user-profile-pic.png') }}"
        alt="Foto do Usuário"
        class="user-photo"
      />
      <span class="user-name" id="user-dropdown-toggle">Nome do Usuário</span>

      <div class="user-dropdown" id="user-dropdown">
        <h4>Meus Pontos:</h4>
        <p>10 Pontos</p>
        <a href="{{ url_for('main.lista_perguntas') }}">Minhas perguntas</a>
        <a href="{{ url_for('main.ranking') }}"">Ranking</a>
        <a href="{{ url_for('main.ranking') }}">Configurações</a>
        <a href="{{ url_for('auth.logout') }}">Sair</a>
      </div>
    </div>

    <form method="POST" action="{{ url_for('main.index') }}"></form>
    <div class="filters-dropdown">
      <select name="filtro_categoria" id="filtro_categoria" class="filter-select">
        <option value="" disabled selected>Categoria</option>
        {% for categoria in categorias %}
            <option value="{{ categoria.id_categoria }}" {% if categoria.id_categoria == filtro_categoria %}selected{% endif %}>{{ categoria.nome }}</option>
        {% endfor %}
      </select>

      <select name="filtro_status" id="filtro_status" class="filter-select">
        <option value="" disabled selected>Status</option>
        <option value="0" {% if filtro_status == '0' %}selected{% endif %}>Pendente</option>
        <option value="1" {% if filtro_status == '1' %}selected{% endif %}>Resolvido</option>
      </select>

      <select name="filtro_colaborador" id="filtro_colaborador" class="filter-select">
        <option value="" disabled selected>Colaborador</option>
        {% for colaborador in usuarios %}
            <option value="{{ colaborador.id_usuario }}" {% if colaborador.id_usuario == filtro_categoria %}selected{% endif %}>{{ colaborador.nome + ' ' + colaborador.sobrenome }}</option>
        {% endfor %}
      </select>
    </div>
    <button class="filter-button">Filtrar</button>
  </form>

  </header>
    <div class="container">
      <a href="{{ url_for('main.pergunta') }}" class="ask-button">FAZER UMA PERGUNTA!</a>

    {% if solicitacoes %}
    <div class="questions-list">
        {% for solicitacao in solicitacoes %}
            <div class="question-box">
                <a href="#" class="question-link">{{ solicitacao.titulo }}</a>
                <span class="info">
                    Enviado por: {{ solicitacao.usuario.nome }} {{ solicitacao.usuario.sobrenome }}
                    às {{ solicitacao.data_criacao.strftime('%H:%M %d/%m/%Y') }}
                </span>
                <span class="status
                    {% if solicitacao.status == 0 %}
                        Pendente
                    {% else %}
                        Resolvido
                    {% endif %}
                ">
                    Status:
                    {% if solicitacao.status == 0 %}
                        Pendente
                    {% else %}
                        Resolvido
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
      {% else %}
        <p>Nenhuma solicitação encontrada.</p>
      {% endif %}
  </div>
  </body>
  <script src="/static/js/script.js"></script>
</html>
