<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help System</title>
	<link rel="stylesheet" href="login.css" />
    <script src="login.js"></script>
</head>
<body>
	<img alt="Plano de Fundo" id="img-background" src="static/img/background.png" />
    <form>

      <span id="success-message" hidden="true">Usuário validado!</span>
      <span id="error-message" hidden="true">Usuário inválido!</span>
      <label for="email">E-mail:</label>
      <input id="email" type="text" placeholder="Preenha o e-mail" />
      <label for="password">Senha:</label>
      <input id="password" type="text" placeholder="Preencha a senha" />
      <button id="btn-login">Login</button>
	  <button id="btn-register">Registrar</button>
	  <a href="url">Esqueceu sua senha? Clique aqui</a>

    </form>
  </body>
</html>