<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
</head>
<body>
    <div class="container">
        <h1 id="header-logo">HELP SYSTEM</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class=flashes>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form class="login-form" aria-labelledby="login-title" action="{{ url_for('auth.login') }}" method="POST">
          <label for="email">E-mail:</label>
          <input
              id="email"
              name="email"
              type="email"
              placeholder="Preencha o e-mail"
              required
          />

          <label for="password">Senha:</label>
          <input
              id="password"
              name="password"
              type="password"
              placeholder="Preencha a senha"
              required
          />

          <div class="button-group">
              <button id="btn-login" type="submit">Login</button>
              <button
                  id="btn-register"
                  type="button"
                  onclick="window.location.href='cadastro.html'"
              >
                  Cadastro
              </button>
          </div>

            <p class="forgot-password">
                <a href="{{ url_for('auth.recuperar_senha') }}">Esqueceu sua senha? Clique aqui</a>
            </p>
        </form>
    </div>
</body>
<script src="/static/js/drop-down.js"></script>
</html>
