<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/minhas-pergunta.css" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
</head>
<body>
    <header class="header">
        Help System
    </header>

    <a href="index.html" class="back-button">Voltar</a>

    <div class="profile">
        <img src="../static/img/user-profile-pic.png" alt="Foto do usuário">
        <div class="profile-info">
            <div>
                <p>Marcelo Cervino</p>
            </div>
            <div>
                <p>Projetos</p>
            </div>
            <div>
                <p>Perguntas feitas: 3</p>
                <p>Perguntas respondidas: 1</p>
            </div>
            <div class="points">
                10
            </div>
        </div>
    </div>

    <div class="questions">
        <div class="question">
            <h3>Quais são as melhores práticas para usar Git?</h3>
            <div class="responses">Respostas recebidas: 2</div>
            <div class="status-icon">✓</div>
        </div>
        <div class="question">
            <h3>O que são APIs e como funcionam?</h3>
            <div class="responses">Respostas recebidas: 0</div>
            <div class="status-icon">✓</div>
        </div>
        <div class="question">
            <h3>Qual é a diferença entre front-end e back-end?</h3>
            <div class="responses">Respostas recebidas: 0</div>
            <div class="status-icon">✓</div>
        </div>
    </div>
</body>
</html>
