<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/pergunta.css">
</head>
<body>
    <header>
        <h1>HELP SYSTEM</h1>
    </header>
    <div class="container">
        <button class="ask-button">FAZER UMA PERGUNTA!</button>
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar">
            <span class="search-icon">🔍</span>
        </div>
        <div class="questions-list">
            <div class="question-box">
                <a href="#" class="question-link">Qual é a diferença entre front-end e back-end?</a>
                <span class="info">Enviado por: XXXXX às XX:XX xx/xx/xxxx</span>
            </div>
            <div class="question-box">
                <a href="#" class="question-link">Como centraliza a uma div?</a>
                <span class="info">Enviado por: XXXXX às XX:XX xx/xx/xxxx</span>
            </div>
            <div class="question-box">
                <a href="#" class="question-link">Como envio um e-mail assinado pela empresa?</a>
                <span class="info">Enviado por: XXXXX às XX:XX xx/xx/xxxx</span>
            </div>
            <div class="question-box">
                <a href="#" class="question-link">Quais são as práticas recomendadas para escrever um código limpo?</a>
                <span class="info">Enviado por: XXXXX às XX:XX xx/xx/xxxx</span>
            </div>
        </div>
    </div>
</body>
</html>
