<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/pergunta.css">
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.snow.css" rel="stylesheet">
</head>
<body>
    <form method="POST" action="{{ url_for('main.pergunta') }}"></form>
    <div class="container">
        <h1>HELP SYSTEM</h1>

        <div class="form-container">
            <a href="{{ url_for('main.index') }}" class="back-button">Voltar</a
            <label for="titulo">Faça sua pergunta:</label>
            <input type="text" id="titulo" placeholder="Título">
            <select id="categoria">
                <option value="" disabled selected>Categoria</option>
                {% for categoria in categorias %}
+               <option value="{{ categoria.id_categoria }}" {% if categoria.id_categoria == filtro_categoria %}selected{% endif %}>{{ categoria.nome }}</option>
+                {% endfor %}
            </select>
            <div id="quillInput"></div>
            <button type="button" id="submit-button">ENVIAR</button>
        </div>
    </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.min.js"></script>
    <script>
        var quill = new Quill('#quillInput', {
            theme: "snow",
            placeholder: "Descreva sua pergunta...",
            modules: {
                toolbar: [
                    [{ 'header': [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['link', 'image'],
                    ['clean']
                ]
            }
        });
    </script>
</body>
<script src="/static/js/pergunta.js"></script>
</html>