<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help System - Ranking</title>
    <link rel="stylesheet" href="/static/css/ranking.css" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
  </head>
  <body>
    <a href="index.html" class="back-button">Voltar</a>
    <h1>Help System</h1>
    <div class="container">
      <div class="ranking-header">
        <h1>Ranking</h1>
        <div>
          <span class="up-arrow">⬆️</span>
          <span class="down-arrow">⬇️</span>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Área</th>
            <th>Pontos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Marcos de Camargo</td>
            <td>Finanças</td>
            <td>11</td>
          </tr>
          <tr>
            <td>Marcelo Cervino</td>
            <td>Projetos</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Vinicius Souza</td>
            <td>Desenvolvimento</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Raquel Moriconi</td>
            <td>Marketing</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
