<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/resposta.css">
</head>
<body>
    <header>
        <h1>HELP SYSTEM</h1>
    </header>
    <main>
        <div class="content">
            <aside class="user-info">
                <div class="user-avatar"></div>
                <h3>Autor</h3>
            </aside>
            <section class="question-section">
                <h2>Quais são as melhores práticas para usar Git?</h2>
                <p>Estou começando a usar Git e gostaria de saber quais práticas ajudam a manter o trabalho organizado e facilitam a colaboração, como evitar conflitos e organizar os commits.</p>
            </section>
        </div>
            <textarea placeholder="Escreva sua resposta aqui..."></textarea>
            <button class="send-button">ENVIAR</button>
        </div>
    </main>
</body>
</html>
