<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help System</title>
    <link rel="stylesheet" href="/static/css/resposta.css" />
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <link
      href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.snow.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>HELP SYSTEM</h1>
    </header>
    <a href="{{ url_for('main.index') }}" class="back-button">Voltar</a>
    <main>
      <div class="content">
        <aside class="user-info">
          <img
            src="{{ url_for('static', filename='img/user-profile-pic.png') }}"
            alt="Foto do Usuário"
            class="user-photo"
          />
          <h3>Autor</h3>
        </aside>
        <section class="question-section">
          <h2>Quais são as melhores práticas para usar Git?</h2>
          <p>
            Estou começando a usar Git e gostaria de saber quais práticas ajudam
            a manter o trabalho organizado e facilitam a colaboração, como
            evitar conflitos e organizar os commits.
          </p>
        </section>
      </div>

      <div id="quillInput"></div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.min.js"></script>
    <script>
      var quill = new Quill("#quillInput", {
        theme: "snow",
        placeholder: "Escreva sua resposta aqui...",
        modules: {
          toolbar: [
            [{ header: [1, 2, false] }],
            ["bold", "italic", "underline"],
            [{ list: "ordered" }, { list: "bullet" }],
            ["link", "image"],
            ["clean"],
          ],
        },
      });
    </script>
    <button class="send-button">ENVIAR</button>
  </body>
</html>
